[DEFAULT]
fileName=wss-unified-agent.jar
fileDir=/path/to/file/dir
compareWithWsGit=False
# hashMethod only supports hashlib.algorithms_guaranteed
#https://docs.python.org/3/library/hashlib.html#hashlib.algorithms_guaranteed
#hashlib.algorithms_guaranteed :{'sha384', 'sha3_512', 'sha512', 'sha224', 'sha3_224', 'shake_256', 'sha3_384', 'sha1', 'md5', 'sha3_256', 'blake2s', 'shake_128', 'blake2b', 'sha256'}
compareWithHashMethod=sha1
